body {
    background-color: #161616;
    color: #e4e7eb;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.main-section {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-div {
    /*width: 800px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #242424;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

.add-div {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed;
    margin-bottom: 25px;
}

.add-column {
    margin: 5px;
    max-width: 100%;
}

.param-div {
    margin: 10px 0px;
}

.param-header {
    color: #535353;
    font-size: 14px;
}

input {
    border-radius: 5px;
    border: none;
    height: 20px;
}

textarea {
    resize: none;
    height: 100%;
    border-radius: 5px;
    border: none;
}

.save-div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid;
    width: 825px;
}

.save-header {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.save-param-header {
    display: inline-grid;
    justify-content: center;
    max-width: 100%;
    border-right: 1px solid #535353;
}

.save-content {
    margin: 0 0px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #161616;
    border-radius: 15px;
}

.save-param-content {
    display: inline-grid;
    justify-content: left;
    max-width: 100%;
    border-right: 1px solid #535353;
    padding: 0 10px;
}

.last-param {
    border: none;
}


/*Footer*/

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: #2e2e2e;
}

.benoitded {
    color: #535353;
}

.benoitded:active {
    transform: translate(0px, 2px);
}