body {
    background-color: #161616;
    color: #e4e7eb;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.main-section {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    max-height: 100px;
}

label {
    color: #535353;
    font-size: 14px;
}

input {
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 100%;
}

.main-div {
    /*width: 800px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #242424;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}


/*Add*/

.add-div {
    display: grid;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed;
    margin-bottom: 25px;
    grid-template-columns: 1fr 1fr 1.3fr 0.2fr;
    gap: 10px;
}

.add-column {
    margin: 5px;
    max-width: 100%;
}

.param-div {
    margin: 5px 0px;
}

.param-header {
    color: #535353;
    font-size: 14px;
}

.add-image {}

.add-image:hover {
    background-color: #959595;
    border: 2px dashed #ffffff;
}

.svg-image {
    color: #e4e7eb;
    display: flex;
    justify-content: center;
    width: auto;
    height: 28px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #535353;
    background-color: rgba(196, 196, 196, 0.079);
}

textarea {
    resize: none;
    height: 132px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.submit-btn {
    margin-top: 15px;
    height: 136px;
    background-color: #535353;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0);
}

.submit-btn:hover {
    background-color: #959595;
    border: 2px solid #ffffff;
}

.submit-btn:active {
    background-color: #535353;
    transition: 0.1s;
}


/*Save*/

.save-div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid;
    width: 825px;
}

.save-header {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.save-param-header {
    display: inline-grid;
    justify-content: center;
    width: 100%;
    border-right: 1px solid #535353;
}

.save-line {
    margin: 0px 0px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #161616;
    border-radius: 15px;
    border-top: 1px solid #535353;
}

.save-param-content {
    display: inline-grid;
    justify-content: left;
    max-width: 100%;
    border-right: 1px solid #535353;
    padding: 0 10px;
}

.last-param {
    border: none;
}


/*Footer*/

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: #2e2e2e;
}

.benoitded {
    color: #535353;
}

.benoitded:active {
    transform: translate(0px, 2px);
}