body {
    background-color: #161616;
    color: #e4e7eb;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.main-section {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-div {
    height: 200px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #242424;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

.div-date {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.div-date.up {
    font-size: 110px;
    font-weight: bold;
}

.div-date.down {
    font-size: 16px;
    font-weight: bold;
}

.change {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: #525252;
    font-size: 10px;
}

.change:hover {
    text-decoration: underline;
    color: #787878;
    transition: 0.2s;
    cursor: pointer;
}

.change:active {
    transform: translate(0px, 2px);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: #2e2e2e;
}

.benoitded {
    color: #535353;
}

.benoitded:active {
    transform: translate(0px, 2px);
}