body {
    background-color: #161616;
    color: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.tout {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f1f1f;
    border-radius: 20px;
    margin: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.corps {
    display: flex;
}

.filtres {
    width: 30%;
    max-width: 200px;
    background-color: #1f1f1f;
    border-radius: 20px;
    margin: 5px;
}

.animaux {
    width: 100%;
    background-color: #1f1f1f;
    border-radius: 20px;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.grid_item {
    padding: 10px;
    margin: 5px;
    background-color: #242424;
    border-radius: 20px;
}

.grid_proprietes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.propriete {
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    padding: 5px;
}

.photo_animal {
    width: 100%;
}

.nom_item {
    padding: 8px;
    display: flex;
    justify-content: center;
}


/******Filtre******/

h3 {
    text-align: center;
}

.sct-filtre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filtre {
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.btn-question {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    border: none;
}

.btn-filtre.underline {
    color: #498adf;
    text-decoration: underline;
}

.btn-filtre {
    padding: 5px 10px;
    justify-content: left;
    color: #838383;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    background: transparent;
    border: none;
}

.btn-filtre:hover {
    padding: 5px 10px;
    justify-content: center;
    color: #e4e7eb;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.btn-filtre:active {
    transform: translate(0px, 2px);
}
